<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Springstore UI Tests">
    <test name="Regression">
        <classes>
            <class name="testSpringstore.TestSignUp"/>
            <class name="testSpringstore.TestSignIn"/>
            <class name="testSpringstore.TestAddAndRemoveProductToFavorites"/>
        </classes>
    </test>
</suite>
